
h2 {
    position : relative;
    font-size: 5rem;
    font-family: sans-serif;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
    color: #293462;
}

h2::after {
    content:attr(data-text);
    -webkit-text-stroke: 0vw #383d52;
    position: absolute;
    top : 0;
    left: 0;
    width: 10%;
    height: 100%;
    color: #FF9F29;
    border-right: 2px solid orange;
    overflow: hidden;
    animation: animate 6s linear infinite;
    -webkit-animation: animate 6s linear infinite;
}

@keyframes animate {
    0% {
        width: 0;
    }    
    70% {
        width: 100%;
    }
}